.header1{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-field{
    margin-left: 30%;
}
.links{
    margin-left:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}